/* General style stuff */

body {
  padding: 0;
  margin: 0;
  font-family: Palation Linotype, Bookman Antiqua, Palatino, serif;
  font-size: 14px;
  line-height: 20px;
}

td {
  padding-top: 10px;
  padding-bottom: 30px;
	padding: 10px
}

input {
    padding: 6px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

button {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
  background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
  background-color:#f9f9f9;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#666666;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
}

button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
  background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
  background-color:#e9e9e9;
}

button:active {
  position:relative;
  top:1px;
}

/* Experiment specific style */

.slide {
  width: 95%;
  height: 95%;
  display: none;
  position: absolute;
  margin: 0;
  margin-left: 0.5%;
  padding: 1% 2% 1% 2%;
  text-align: center;
}

.block-text {
  width: 600px;
  text-align: justify;
  margin: 0 auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.progress{
  position: relative;
  height:30px;
  width:200px;
  visibility: hidden;
}

#legal {
  margin: 0 auto;
  margin-top: 1.5em;
  font-size: 0.8em;
}

#progress_table {
  margin-left:auto;
  margin-right:auto;
}

#instructions_table td {
	padding-top: 10px;
	padding-bottom: 10px;
}

#items_table {
	height:400px;
  padding-bottom: 10em;
  margin-left:auto;
  margin-right:auto;
}

#errors_form {
  padding-top: 5em;
  margin-left:auto;
  margin-right:auto;
  visibility: hidden;
}

#items_table td {
	text-align: center;
	vertical-align: text-top;
	font-size: 14px;
	font-weight: bold;
	color: green;
	padding: 10px;
}

#feedback_text {
  font-size: 20px;
  margin-top: 2em;
}

#order_text p {
	width: 400px;
  text-align: justify;
  margin: 0 auto;
  margin-bottom: 1em;
}

img.waveform {
  margin-top: 1em;
  width:300px;
  height:80px;
}
